html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;

  color: white;
  font-size: 3em;
  font-family: 'Ubuntu';
  background-color: black;

  max-height: 100%;
  overflow: hidden;
}

a {
  color: #eaeaea;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  min-height: 700px;
}

  .content img, .content video {
    flex-grow: 1;
    min-height: 700px;
    min-width: 700px;
	max-width: 100%;
	max-height: 100%;
    object-fit: cover;
  }

  .content a {
    text-decoration: none;
  }

  .content .msg {
    font-size: 2.5em;
    font-family: 'IntuitiveRegular';
  }

  .content .author {
    color: rgba(255, 255, 255, 0.8);
  }

#progress {
       height: 5px;
       background: #acbad5;
       top: 0;
       left: 0;
       position: absolute;

    width:0%;
    overflow:hidden;
    -webkit-transition: width 7s linear;
    -moz-transition: width 7s linear;
    -o-transition: width 7s linear;
    transition: width 7s linear;
}

#progress.run {
       width: 100%;
}


#infos {
  position: fixed;
  align-items: baseline;

  bottom: 0;
  left: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.6em;
}

  #instructions strong, #instructions em {
    color: white;
  }

  #links {
    font-size: 0.6em;
  }


.icon {
  font-style: normal;
  font-size: 2em;
  color: white;
}
  .icon.audio::after {
    content: "🔊";
  }
  .icon.file::after {
    content: "📎";
  }

